{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for genre in genres %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ genre.name }}</td>
      <td><a href="/genres/{{genre.id}}/artists">Find artists</a></td>
    </tr>
    {% for subgenre in genre.subgenres %}
    <tr>
      <td></td>
      <td>{{ subgenre.name }}</td>
      <td></td>
    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>
</table>

{% endblock %}
